html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#canvas {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}